h1 {
  /* text-align: center; */
  font-size: 2em;
  font-family: font-family: "Play", sans-serif;
  color: #167347;
}

main {
  font-family: "Play", sans-serif;
  
}

button {
  font-family: "Play", sans-serif;
}

#question {
  font-size: xx-large;
  color: #167347;
  padding: 1em
}

